.xm-tabs-nav {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #F3F3F5;

  .xm-tabs-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 0;
    height: 100%;
    position: relative;

    .xm-tabs-scroll-left {
      box-shadow: inset 10px 0 8px -8px rgba(10, 16, 50, 0.15);
      pointer-events: none;
      position: absolute;
      left: 0px;
      top: 0;
      bottom: 0;
      width: 32px;
      z-index: 2;
    }

    .xm-tabs-scroll {
      display: flex;
      align-items: center;
      height: 100%;
      overflow-x: auto;
      overflow-y: clip;
      position: relative;

      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
    }
  }

  .xm-tabs-extra {
    margin-left: 12px;
  }
}


.xm-tabs-oper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100%;

  .xm-tabs-scroll-right {
    box-shadow: inset -10px 0 8px -8px rgba(10, 16, 50, 0.15);
    pointer-events: none;
    position: absolute;
    left: -32px;
    top: 0;
    bottom: 0;
    width: 32px;
  }

  .xm-tabs-add,
  .xm-tabs-more {
    .tant-icon-span {
      color: #7E7F80;

    }
  }

  .xm-tabs-split {
    margin: 4px 0;
    width: 1px;
    background-color: #E3E4E5;
    height: 26px;
  }
}

.xm-tab {
  background-color: #F9F9FB;
  border-bottom: 1px solid #E3E4E5;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  height: 22px !important;
  cursor: pointer !important;
  position: relative;

  &:hover {
    background-color: #f6f6f9;

    .xm-tab-icon {
      opacity: 1;
      font-size: 16px;
    }

    .xm-tab-name {
      color: #333333;
    }
    .xm-tab-oper {
      .xm-tab-oper-shadow {
        background: linear-gradient(90deg, rgba(249, 249, 251, 0.25) 5.88%, #f6f6f9 100%);
      }
      .xm-tab-oper-shadow-active {
        background: linear-gradient(90deg, rgba(249, 249, 251, 0.25) 5.88%, #f6f6f9 100%);
      }
      .xm-tab-oper-bg {
        background-color: #f6f6f9;
      }
      .xm-tab-oper-bg-active {
        background-color: #f6f6f9;
      }
      .xm-tab-padding {
        width: 12px;
        background-color: #f6f6f9;
      }
      .xm-tab-padding-active {
        width: 12px;
        background-color: #f6f6f9;
      }
    }
  }

  .xm-tab-icon {
    margin-right: 4px;
    color: #1E76F0;
    opacity: 0.5;
  }

  .xm-tab-name {
    color: #7E7F80;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
  }

  .xm-tab-oper {
    position: absolute;
    height: 100%;
    z-index: 1;
    display: flex;
    right: 0px;
    align-items: center;
    border-right: 1px solid #E3E4E5;

    .xm-tab-oper-shadow {
      width: 16px;
      height: 100%;
      background: linear-gradient(90deg, rgba(249, 249, 251, 0.25) 5.88%, #F9F9FB 100%);
    }
    .xm-tab-oper-shadow-active {
      width: 16px;
      height: 100%;
      background: linear-gradient(90deg, rgba(249, 249, 251, 0.25) 5.88%, #FFF 100%);
    }
    .xm-tab-padding {
      width: 12px;
      background-color: #F9F9FB;
      height: 100%;
    }
    .xm-tab-padding-active {
      width: 12px;
      background-color: #FFF;
      height: 100%;
    }

    .xm-tab-oper-bg {
      background-color: #F9F9FB;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .xm-tab-oper-bg-active {
      background-color: #FFF;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.xm-tab-dragging {
  border-bottom: none;
  cursor: grabbing !important;
  box-sizing: content-box !important;
}

.xm-tab-active {
  border-bottom: none;
  background-color: #ffffff;
  padding-bottom: 7px;

  &:hover {
    background-color: #ffffff;
    .xm-tab-oper {
      .xm-tab-oper-shadow-active {
        background: linear-gradient(90deg, rgba(249, 249, 251, 0.25) 5.88%, #ffffff 100%);
      }
      .xm-tab-oper-bg-active {
        background-color: #ffffff;
      }
      .xm-tab-padding-active {
        width: 12px;
        background-color: #ffffff;
      }
    }
  }

  .xm-tab-name {
    color: #333333;
  }

  .xm-tab-icon {
    opacity: 1
  }
}